<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <div class="d-block">
    <svg id="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#0099ff" fill-opacity="1" d="M0,288L1440,192L1440,0L0,0Z"></path>
        Sorry, your browser does not support inline SVG.
    </svg>
    <div class="container p-0">
      <% include ../partials/nav.ejs %>
    </div>
    <div class="container pt-md-3 pb-md-2">
        <div class="row">
            <div class="col-md-6">
                <h1>It Works!</h1>
                <p class="pt-1 pb-1 mb-1">The NodeJs Application Template works, so now you are able to build something epic!</p>
                <a href="https://nico-judge.de/?utm_source=github&utm_medium=button&utm_campaign=nodejstemplate" target="_blank" class="btn btn-sm btn-outline-light" role="button"><i class="far fa-paper-plane"></i> Get in Touch</a>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center">
        <h3>Start here!</h3>
        <img src="node.svg" style="height: 150px; width: 150px;">
    </div>
  </div>
</div>
</body>
</html>
